body {
	background-color: rgb(0,153,216);
	}
.gey {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	}
.pohh {
	font-family: Calibri;
	color: white;
	font-size: 3vw;
	font-weight: 200;
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
	}
	
	
.pohh2 {
	font-family: Calibri;
	color: white;
	font-size: 2vw;
	font-weight: 200;
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
	}

.khk {
	width: 15%;
	height:auto;
	position: fixed;
	bottom: 5%;
	left: 42.5%
	}
	
.kopli {
	color: white;
	font-family: Calibri;
	font-size: 6vw;
	font-weight:200;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	text-decoration:none;
	padding-left: 12%;
	}
.oppehoone {
	text-align: center;
	color: white;
	font-family: Calibri;
	font-size: 2vw;
	font-weight:200;
	letter-spacing: 0.35vw;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 13.5%;
	text-decoration:none;
	}
.ko {
	width: 20%;
	position: fixed;
	left: 29.5%;
	bottom: 45%;
	border-style: solid rgb(0,153,216);
    border-right: solid white;
	
	}
	
.pollu {
	color: white;
	font-family: Calibri;
	font-size: 6vw;
	font-weight:200;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	text-decoration: none;
	}
.poppehoone {
	text-align: center;
	color: white;
	font-family: Calibri;
	font-size: 2vw;
	font-weight:200;
	letter-spacing: 0.55vw;
	margin-bottom: 0;
	margin-top: 0;
	text-decoration: none;
	padding-left: 2%;
	}
.po {
	position: fixed;
	left: 53%;
	bottom: 45%;
	width: 20%;
	}


.pulk {
    position:fixed;
    left: 50%;
    top:  50%;
    margin-left: -4.5px;
    margin-top:  -136px;
	width: 0.5%;
	height:auto;
	
 }

.po:hover a { 
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
	}
.ko:hover a { 
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.proov {
	padding-left: 0.4%;
	}
.proov2 {
	padding-left: 2.7%;
}
ul{
    display: none;
	color: white;
	font-family: Calibri;
	font-size: 1vw;
	font-weight:200;
	position:fixed;
	line-height: 0.5vw;
	text-align: left;
	letter-spacing: 0.55vw;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
	animation:myfirst 1.5s;
	-moz-animation:myfirst 1.5s; /* Firefox */
	-webkit-animation:myfirst 1.5s; /* Safari and Chrome */  
}
div:hover ul {
    display: block;	
}

@keyframes myfirst
{
0%  { opacity: 0;}
100% {opacity:1;}
}

 @-moz-keyframes myfirst /* Firefox */
{
0%  { opacity: 0;}
100% {opacity:1;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%  { opacity: 0;}
100% {opacity:1;}
}


