body {
	background-color: #0099D8;
	}

.aup_logo {
	background-image: url("pildid/aup_logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 420px;
	height: 90px;
	max-height: auto;
	max-width: 48%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
		
	}
